In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_df.csv')

In [3]:
df.head()

   Unnamed: 0  Type  Year  Season  Precip_Change  Temp_Change
0           0     1  2000  Summer      85.544075     1.794205
1           1     1  2000  Winter    -178.973004    31.062730
2           2     1  2005  Summer     -50.166104     2.770767
3           3     1  2005  Winter    -184.093031     3.353830
4           4     1  2010  Summer      40.430365     4.921995

In [5]:
df[df.Precip_Change == df.Precip_Change.max()]

    Unnamed: 0  Type  Year  Season  Precip_Change  Temp_Change
69          69     7  2020  Winter    1860.744454     5.180542

In [39]:
df[df.Type == 1]

   Unnamed: 0  Type  Year  Season  Precip_Change  Temp_Change
0           0     1  2000  Summer      85.544075     1.794205
1           1     1  2000  Winter    -178.973004    31.062730
2           2     1  2005  Summer     -50.166104     2.770767
3           3     1  2005  Winter    -184.093031     3.353830
4           4     1  2010  Summer      40.430365     4.921995
5           5     1  2010  Winter    -150.123084     8.275110
6           6     1  2015  Summer     104.184074     3.082311
7           7     1  2015  Winter    -271.563810    13.362647
8           8     1  2020  Summer     -28.655630     2.050424
9           9     1  2020  Winter      82.815088     3.989073

In [7]:
df[df.Temp_Change == df.Temp_Change.max()]

    Unnamed: 0  Type  Year  Season  Precip_Change  Temp_Change
91          91    10  2000  Winter    -155.562893    91.896354

In [8]:
df[df.Temp_Change == df.Temp_Change.min()]

    Unnamed: 0  Type  Year  Season  Precip_Change  Temp_Change
11          11     2  2000  Winter    -359.638358   -48.140982