In [51]:
import pandas as pd

In [52]:
pop = pd.read_csv('population.csv')
pop.head()

/Users/ally/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,...,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,...,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,...,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,...,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,...,48,44,7,5,0,2,2,1,3,1

In [53]:
pop = pop[['STNAME', 'CTYNAME', 'YEAR', 'TOT_POP', 'AGEGRP']]
pop = pop[pop.TOT_POP != 'X']

pop['TOT_POP'] = pop['TOT_POP'].astype(int)

pop_filter = pop[pop.YEAR == 10]

pop.CTYNAME.unique().shape

(1878,)

In [54]:
import us

In [55]:
print(us.states.lookup('AL'))

Alabama

In [56]:
states = us.states.mapping('name', 'abbr')

In [57]:
pop_filter['STABV'] = [states[val] for val in pop_filter['STNAME']]
pop_filter

/Users/ally/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         STNAME         CTYNAME  YEAR  TOT_POP  AGEGRP STABV
171     Alabama  Autauga County    10    55448       0    AL
172     Alabama  Autauga County    10     3286       1    AL
173     Alabama  Autauga County    10     3552       2    AL
174     Alabama  Autauga County    10     3867       3    AL
175     Alabama  Autauga County    10     3825       4    AL
...         ...             ...   ...      ...     ...   ...
776259  Wyoming   Weston County    10      439      14    WY
776260  Wyoming   Weston County    10      330      15    WY
776261  Wyoming   Weston County    10      211      16    WY
776262  Wyoming   Weston County    10      182      17    WY
776263  Wyoming   Weston County    10      195      18    WY

[59717 rows x 6 columns]

In [58]:
pop_filter['merge'] = pop_filter['CTYNAME'] + ' ' + pop_filter['STABV']
pop_filter

/Users/ally/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,STNAME,CTYNAME,YEAR,TOT_POP,AGEGRP,STABV,merge
171,Alabama,Autauga County,10,55448,0,AL,Autauga County AL
172,Alabama,Autauga County,10,3286,1,AL,Autauga County AL
173,Alabama,Autauga County,10,3552,2,AL,Autauga County AL
174,Alabama,Autauga County,10,3867,3,AL,Autauga County AL
175,Alabama,Autauga County,10,3825,4,AL,Autauga County AL
...,...,...,...,...,...,...,...
776259,Wyoming,Weston County,10,439,14,WY,Weston County WY
776260,Wyoming,Weston County,10,330,15,WY,Weston County WY
776261,Wyoming,Weston County,10,211,16,WY,Weston County WY
776262,Wyoming,Weston County,10,182,17,WY,Weston County WY
776263,Wyoming,Weston County,10,195,18,WY,Weston County WY

In [59]:
pop_filter['merge'].unique()

array(['Autauga County AL', 'Baldwin County AL', 'Barbour County AL', ...,
       'Uinta County WY', 'Washakie County WY', 'Weston County WY'],
      dtype=object)

In [61]:
gp_df = pop_filter.groupby('merge').sum()
pop_df = gp_df[['TOT_POP']]
#merge = pop_filter[['STNAME', 'CTYNAME']]
#merge = merge.drop_duplicates()

pop_df = pop_df.reset_index()
pop_df = pop_df[['merge', 'TOT_POP']]

# Median Income

In [62]:
i_df = pd.read_excel('median_income.xls')
i_df

      County FIPS Code Postal Code               Name Median Household Income
0                    0          US      United States                   67340
1                    0          AL            Alabama                   53958
2                    1          AL     Autauga County                   67565
3                    3          AL     Baldwin County                   71135
4                    5          AL     Barbour County                   38866
...                ...         ...                ...                     ...
3190                37          WY  Sweetwater County                   70583
3191                39          WY       Teton County                   92488
3192                41          WY       Uinta County                   71246
3193                43          WY    Washakie County                   58532
3194                45          WY      Weston County                   58901

[3195 rows x 4 columns]

In [63]:
# remove state averages

i_df.columns = ['FIPSCode', 'State', 'County', 'Income']
i_df = i_df[i_df.FIPSCode != 000]
i_df['merge'] = i_df['County'] + ' ' + i_df['State']

/Users/ally/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [64]:
i_df[i_df['merge'] == 'Abbeville County SC']

      FIPSCode State            County Income                merge
2359         1    SC  Abbeville County  47219  Abbeville County SC

In [65]:
i_df = i_df[['State', 'County', 'Income', 'merge']]

In [66]:
(i_df[i_df.County == 'Abbeville County']['State'])

2359    SC
Name: State, dtype: object

In [67]:
#pop_final.join(i_df, how='left', left_on='CTYNAME', right_on='County')
pop_income = pop_df.set_index('merge').join(i_df.set_index('merge'))
pop_income = pop_income.reset_index()
pop_income.to_csv('pop_income.csv')

In [68]:
pop_income

                    merge  TOT_POP State            County Income
0     Abbeville County SC    49196    SC  Abbeville County  47219
1        Acadia Parish LA   125162    LA     Acadia Parish  45183
2      Accomack County VA    65458    VA   Accomack County  44127
3           Ada County ID   913988    ID        Ada County  73324
4         Adair County IA    14094    IA      Adair County  55265
...                   ...      ...   ...               ...    ...
3138       Yuma County AZ   418488    AZ       Yuma County  54278
3139       Yuma County CO    19952    CO       Yuma County  82124
3140     Zapata County TX    28502    TX     Zapata County  39876
3141     Zavala County TX    23892    TX     Zavala County  34898
3142    Ziebach County SD     5494    SD    Ziebach County  31599

[3143 rows x 5 columns]

# Percent Change

In [11]:
import pandas as pd
climate = pd.read_csv('seasonal_disparities_20th_century.csv')
climate = climate[['FIPSCode','YEAR', 'Season', 'TEMPERATURE_MA', 'TEMPERATURE_DEVIATION_STDDEV', 'PRECIPITATION_MA', 'PRECIPITATION_DEVIATION_STDDEV']]
climate.head()

,FIPSCode,YEAR,Season,TEMPERATURE_MA,TEMPERATURE_DEVIATION_STDDEV,PRECIPITATION_MA,PRECIPITATION_DEVIATION_STDDEV
0,6001,2021,Summer,68.7,1.847292,0.00,-0.686548
1,6005,2021,Winter,42.6,-0.506057,12.34,1.702105
2,6009,2021,Winter,42.6,-0.542606,10.80,1.422228
3,6019,2021,Winter,41.0,0.454152,6.96,1.639776
4,6029,2021,Summer,79.3,2.528477,0.05,-0.067581

In [12]:
import numpy as np
temp_chng = []
precip_chng = []
for val in climate.iterrows():

    temp_std = val[1][4]
    temp_ma = val[1][3]

    precip_std = val[1][6]
    precip_ma = val[1][5]


    avg_20_temp= -(np.sqrt((temp_std ** 2 ) * 5) - temp_ma)
    avg_20_precip = -(np.sqrt((precip_std ** 2 ) * 5) - precip_ma)

    temp_chng.append((temp_ma - avg_20_temp) / avg_20_temp * 100)
    precip_chng.append((precip_ma - avg_20_precip) / avg_20_precip * 100)

In [13]:
climate['temp_avg_20'] = temp_chng
climate['precip_avg_20'] = precip_chng

In [14]:
climate = climate[['FIPSCode', 'YEAR', 'Season', 'temp_avg_20', 'precip_avg_20']]

In [15]:
fips_df = pd.read_excel('County-Type-Share.xlsx', sheet_name='Sheet1')
fips_df = fips_df[['County', 'FIPS']]
fips_df.columns = ['County', 'FIPSCode']
fips_df.head()

/Users/ally/anaconda3/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

         County  FIPSCode
0    Autauga AL      1001
1     Elmore AL      1051
2  Limestone AL      1083
3  St. Clair AL      1115
4     Shelby AL      1117

In [16]:
climate.head()

   FIPSCode  YEAR  Season  temp_avg_20  precip_avg_20
0      6001  2021  Summer     6.397263    -100.000000
1      6005  2021  Winter     2.728772      44.598441
2      6009  2021  Winter     2.931630      41.735991
3      6019  2021  Winter     2.539771     111.335062
4      6029  2021  Summer     7.677041    -149.448409

In [17]:
climate = climate.set_index('FIPSCode').join(fips_df.set_index('FIPSCode'))
climate = climate.reset_index()
climate

        FIPSCode  YEAR  Season  temp_avg_20  precip_avg_20      County
0           1001  2021  Winter    11.386576       0.856693  Autauga AL
1           1001  2021  Summer     0.098728      99.225161  Autauga AL
2           1001  2020  Summer     0.098728      25.570313  Autauga AL
3           1001  2020  Winter     0.637773     148.110691  Autauga AL
4           1001  2019  Summer     1.670120      14.815750  Autauga AL
...          ...   ...     ...          ...            ...         ...
138242     56045  2008  Winter    14.393713    -121.354633   Weston WY
138243     56045  2007  Summer     2.987298    -284.353057   Weston WY
138244     56045  2007  Winter     9.183334    -164.224452   Weston WY
138245     56045  2006  Winter     9.508508    -103.310328   Weston WY
138246     56045  2006  Summer     5.111344    -172.792637   Weston WY

[138247 rows x 6 columns]

In [18]:
pop_income = pd.read_csv('pop_income.csv')
pop_income = pop_income[['merge', 'TOT_POP', 'State', 'County', 'Income']]
pop_income.columns = ['County', 'Population', 'State', 'County_name', 'Income']

In [19]:
pop_income.head()

                County  Population State       County_name Income
0  Abbeville County SC       49196    SC  Abbeville County  47219
1     Acadia Parish LA      125162    LA     Acadia Parish  45183
2   Accomack County VA       65458    VA   Accomack County  44127
3        Ada County ID      913988    ID        Ada County  73324
4      Adair County IA       14094    IA      Adair County  55265

In [20]:
climate.head()

   FIPSCode  YEAR  Season  temp_avg_20  precip_avg_20      County
0      1001  2021  Winter    11.386576       0.856693  Autauga AL
1      1001  2021  Summer     0.098728      99.225161  Autauga AL
2      1001  2020  Summer     0.098728      25.570313  Autauga AL
3      1001  2020  Winter     0.637773     148.110691  Autauga AL
4      1001  2019  Summer     1.670120      14.815750  Autauga AL

In [21]:
import re
no_county = []
for val in pop_income.County:
    if 'County' in val:
        no_county.append(val.replace('County ', ''))
    else :
        no_county.append(val)

In [22]:
pop_income['no_county'] = no_county

In [23]:
pop_income.shape

(3143, 6)

In [31]:
import us
print(us.county.lookup('2158'))

AttributeError: module 'us' has no attribute 'county'

In [26]:
climate[climate.County.isna()]

        FIPSCode  YEAR  Season  temp_avg_20  precip_avg_20 County
3564        2158  2021  Summer     2.287446     339.374630    NaN
3565        2158  2021  Winter    21.000138    -166.349938    NaN
3566        2158  2020  Winter    17.639442     442.992101    NaN
3567        2158  2020  Summer     5.931548    -494.170760    NaN
3568        2158  2019  Summer    12.611819      27.291912    NaN
...          ...   ...     ...          ...            ...    ...
106210     46102  2008  Summer     2.036480      22.564101    NaN
106211     46102  2007  Summer     4.026501    -160.423096    NaN
106212     46102  2007  Winter     3.916557    -174.783727    NaN
106213     46102  2006  Summer     4.892986     672.815534    NaN
106214     46102  2006  Winter     7.714483    -129.553452    NaN

[88 rows x 6 columns]

In [98]:
final_df = climate.set_index('County').join(pop_income.set_index('no_county'))
final_df.to_csv('climate_pop_income.csv')

In [1]:
climate[climate.County.isna()]

NameError: name 'climate' is not defined

In [2]:
import pandas as pd
df = pd.read_csv('climate_pop_income.csv')
df.head()

,County,FIPSCode,YEAR,Season,temp_avg_20,precip_avg_20,County.1,Population,State,County_name,Income
0,Abbeville SC,45001,2021,Winter,12.697097,2.382905,Abbeville County SC,49196.0,SC,Abbeville County,47219.0
1,Abbeville SC,45001,2021,Summer,0.849158,36.757837,Abbeville County SC,49196.0,SC,Abbeville County,47219.0
2,Abbeville SC,45001,2020,Winter,0.160124,62.245380,Abbeville County SC,49196.0,SC,Abbeville County,47219.0
3,Abbeville SC,45001,2020,Summer,1.568802,1.719383,Abbeville County SC,49196.0,SC,Abbeville County,47219.0
4,Abbeville SC,45001,2019,Summer,1.423291,46.289373,Abbeville County SC,49196.0,SC,Abbeville County,47219.0

In [3]:
fips_names = pd.read_excel('County-Type-Share.xlsx', sheet_name='Sheet2')
fips_names.columns = ['key', 'names']
fips_dict = {}
for row in fips_names.iterrows() :
    key = row[0]+1
    name = row[1]
    fips_dict[key] = name.names

In [4]:
fips_df = pd.read_excel('County-Type-Share.xlsx', sheet_name='Sheet1')
fips_code = fips_df[['Type Number', 'FIPS']]
fips_code.columns = ['Type', 'FIPSCode']

/Users/ally/anaconda3/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [5]:
type_col = []
for i, row in df.iterrows():
    fips = row.FIPSCode
    
    #print(fips)
    try:
        type_ = fips_code.loc[fips_code.FIPSCode == fips].iloc[0].Type
        type_col.append(type_)
    except:
        type_col.append(fips)

In [14]:
fips_code.loc[fips_code.FIPSCode == 45001].iloc[0].Type

3

In [16]:
fips_code

      Type  FIPSCode
0        1      1001
1        1      1051
2        1      1083
3        1      1115
4        1      1117
...    ...       ...
3138    15     55087
3139    15     55101
3140    15     55105
3141    15     55131
3142    15     55139

[3143 rows x 2 columns]

In [6]:
df['type'] = type_col

In [7]:
df.head()

,County,FIPSCode,YEAR,Season,temp_avg_20,precip_avg_20,County.1,Population,State,County_name,Income,type
0,Abbeville SC,45001,2021,Winter,12.697097,2.382905,Abbeville County SC,49196.0,SC,Abbeville County,47219.0,3
1,Abbeville SC,45001,2021,Summer,0.849158,36.757837,Abbeville County SC,49196.0,SC,Abbeville County,47219.0,3
2,Abbeville SC,45001,2020,Winter,0.160124,62.245380,Abbeville County SC,49196.0,SC,Abbeville County,47219.0,3
3,Abbeville SC,45001,2020,Summer,1.568802,1.719383,Abbeville County SC,49196.0,SC,Abbeville County,47219.0,3
4,Abbeville SC,45001,2019,Summer,1.423291,46.289373,Abbeville County SC,49196.0,SC,Abbeville County,47219.0,3

In [9]:
chunks_5 = df[df.YEAR % 5 == 0]

In [33]:
chunks_5.to_csv('pop_income_5.csv')

In [75]:
for val in gr_df.columns:
    print(val + ': row.' + val + ',')

Type: row.Type,
Year: row.Year,
Season: row.Season,
Precip_Change: row.Precip_Change,
Temp_Change: row.Temp_Change,

In [68]:
temp_mean = chunks_5.groupby([chunks_5.type, chunks_5.YEAR, chunks_5.Season])['temp_avg_20'].mean()

In [69]:
temp_mean

type   YEAR  Season
1      2000  Summer     1.794205
             Winter    31.062730
       2005  Summer     2.770767
             Winter     3.353830
       2010  Summer     4.921995
                         ...
46102  2010  Winter     3.706408
       2015  Summer     2.662933
             Winter     2.210598
       2020  Summer     4.605027
             Winter    12.347492
Name: temp_avg_20, Length: 170, dtype: float64

In [70]:
precip_mean = chunks_5.groupby([chunks_5.type, chunks_5.YEAR, chunks_5.Season])['precip_avg_20'].mean()

In [72]:
type_ = []
year = []
#precip = []
season = []
temp = []

for i, val in temp_mean.iteritems():
    
    print(i)
    type_.append(i[0])
    year.append(i[1])
    season.append(i[2])
    temp.append(val)

(1, 2000, 'Summer')
(1, 2000, 'Winter')
(1, 2005, 'Summer')
(1, 2005, 'Winter')
(1, 2010, 'Summer')
(1, 2010, 'Winter')
(1, 2015, 'Summer')
(1, 2015, 'Winter')
(1, 2020, 'Summer')
(1, 2020, 'Winter')
(2, 2000, 'Summer')
(2, 2000, 'Winter')
(2, 2005, 'Summer')
(2, 2005, 'Winter')
(2, 2010, 'Summer')
(2, 2010, 'Winter')
(2, 2015, 'Summer')
(2, 2015, 'Winter')
(2, 2020, 'Summer')
(2, 2020, 'Winter')
(3, 2000, 'Summer')
(3, 2000, 'Winter')
(3, 2005, 'Summer')
(3, 2005, 'Winter')
(3, 2010, 'Summer')
(3, 2010, 'Winter')
(3, 2015, 'Summer')
(3, 2015, 'Winter')
(3, 2020, 'Summer')
(3, 2020, 'Winter')
(4, 2000, 'Summer')
(4, 2000, 'Winter')
(4, 2005, 'Summer')
(4, 2005, 'Winter')
(4, 2010, 'Summer')
(4, 2010, 'Winter')
(4, 2015, 'Summer')
(4, 2015, 'Winter')
(4, 2020, 'Summer')
(4, 2020, 'Winter')
(5, 2000, 'Summer')
(5, 2000, 'Winter')
(5, 2005, 'Summer')
(5, 2005, 'Winter')
(5, 2010, 'Summer')
(5, 2010, 'Winter')
(5, 2015, 'Summer')
(5, 2015, 'Winter')
(5, 2020, 'Summer')
(5, 2020, 'Winter')
(6, 2000, 'Summer')
(6, 2000, 'Winter')
(6, 2005, 'Summer')
(6, 2005, 'Winter')
(6, 2010, 'Summer')
(6, 2010, 'Winter')
(6, 2015, 'Summer')
(6, 2015, 'Winter')
(6, 2020, 'Summer')
(6, 2020, 'Winter')
(7, 2000, 'Summer')
(7, 2000, 'Winter')
(7, 2005, 'Summer')
(7, 2005, 'Winter')
(7, 2010, 'Summer')
(7, 2010, 'Winter')
(7, 2015, 'Summer')
(7, 2015, 'Winter')
(7, 2020, 'Summer')
(7, 2020, 'Winter')
(8, 2000, 'Summer')
(8, 2000, 'Winter')
(8, 2005, 'Summer')
(8, 2005, 'Winter')
(8, 2010, 'Summer')
(8, 2010, 'Winter')
(8, 2015, 'Summer')
(8, 2015, 'Winter')
(8, 2020, 'Summer')
(8, 2020, 'Winter')
(9, 2000, 'Summer')
(9, 2000, 'Winter')
(9, 2005, 'Summer')
(9, 2005, 'Winter')
(9, 2010, 'Summer')
(9, 2010, 'Winter')
(9, 2015, 'Summer')
(9, 2015, 'Winter')
(9, 2020, 'Summer')
(9, 2020, 'Winter')
(10, 2000, 'Summer')
(10, 2000, 'Winter')
(10, 2005, 'Summer')
(10, 2005, 'Winter')
(10, 2010, 'Summer')
(10, 2010, 'Winter')
(10, 2015, 'Summer')
(10, 2015, 'Winter')
(10, 2020, 'Summer')
(10, 2020, 'Winter')
(11, 2000, 'Summer')
(11, 2000, 'Winter')
(11, 2005, 'Summer')
(11, 2005, 'Winter')
(11, 2010, 'Summer')
(11, 2010, 'Winter')
(11, 2015, 'Summer')
(11, 2015, 'Winter')
(11, 2020, 'Summer')
(11, 2020, 'Winter')
(12, 2000, 'Summer')
(12, 2000, 'Winter')
(12, 2005, 'Summer')
(12, 2005, 'Winter')
(12, 2010, 'Summer')
(12, 2010, 'Winter')
(12, 2015, 'Summer')
(12, 2015, 'Winter')
(12, 2020, 'Summer')
(12, 2020, 'Winter')
(13, 2000, 'Summer')
(13, 2000, 'Winter')
(13, 2005, 'Summer')
(13, 2005, 'Winter')
(13, 2010, 'Summer')
(13, 2010, 'Winter')
(13, 2015, 'Summer')
(13, 2015, 'Winter')
(13, 2020, 'Summer')
(13, 2020, 'Winter')
(14, 2000, 'Summer')
(14, 2000, 'Winter')
(14, 2005, 'Summer')
(14, 2005, 'Winter')
(14, 2010, 'Summer')
(14, 2010, 'Winter')
(14, 2015, 'Summer')
(14, 2015, 'Winter')
(14, 2020, 'Summer')
(14, 2020, 'Winter')
(15, 2000, 'Summer')
(15, 2000, 'Winter')
(15, 2005, 'Summer')
(15, 2005, 'Winter')
(15, 2010, 'Summer')
(15, 2010, 'Winter')
(15, 2015, 'Summer')
(15, 2015, 'Winter')
(15, 2020, 'Summer')
(15, 2020, 'Winter')
(2158, 2000, 'Summer')
(2158, 2000, 'Winter')
(2158, 2005, 'Summer')
(2158, 2005, 'Winter')
(2158, 2010, 'Summer')
(2158, 2010, 'Winter')
(2158, 2015, 'Summer')
(2158, 2015, 'Winter')
(2158, 2020, 'Summer')
(2158, 2020, 'Winter')
(46102, 2000, 'Summer')
(46102, 2000, 'Winter')
(46102, 2005, 'Summer')
(46102, 2005, 'Winter')
(46102, 2010, 'Summer')
(46102, 2010, 'Winter')
(46102, 2015, 'Summer')
(46102, 2015, 'Winter')
(46102, 2020, 'Summer')
(46102, 2020, 'Winter')

In [73]:
gr_df = pd.DataFrame(columns=['Type', 'Year', 'Season', 'Precip_Change', 'Temp_Change'])
gr_df['Type'] = type_
gr_df['Year'] = year
gr_df['Season'] = season
gr_df['Precip_Change'] = precip
gr_df['Temp_Change'] = temp

In [74]:
gr_df.to_csv('final_df.csv')